/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.slider-wrapper{ position:relative;}
.slider-main{position:relative;}
.nivoSlider {position:relative;	width:100%;	height:auto;overflow: hidden;}
.nivoSlider img {position:absolute;top:0px;	left:0px;max-width: none;}
.nivo-main-image {display: block !important;position: relative !important; width: 100% !important;}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {position:absolute;top:0px;left:0px;width:100%;height:100%;border:0;padding:0;	margin:0;z-index:6;	display:none;background:white; 
filter:alpha(opacity=0); opacity:0;}
/* The slices and boxes in the Slider */
.nivo-slice {display:block;	position:absolute;	z-index:5;	height:100%;top:0;}
.nivo-box {	display:block;	position:absolute;z-index:5;overflow:hidden;}
.nivo-box img { display:block; }
/* Caption styles */
.nivo-html-caption { display:none;}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {	position:absolute;	top:50%;z-index:9;cursor:pointer;}
a.nivo-prevNav {left:0%;background-position:45px 0 !important;border-radius:0 3px 3px 0;}
a.nivo-nextNav {right:0%;background-position:-45px 0 !important;border-radius:3px 0 0 3px;}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {	text-align:center; padding:0; position: absolute; text-align: center; width: auto; bottom:14%; left:0; right:0;	z-index:9;}
.nivo-controlNav a {cursor:pointer;}
.nivo-controlNav a {border: 0 none; display:inline-block; background-color:#fff; height: 14px; margin:4px; text-indent: -9999px; width:14px; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; -o-border-radius:15px;}
.nivo-controlNav a.active{font-weight:bold; background-position: 0 -21px; background-color:#000000;}
.nivo-directionNav a{border: 0 none; display: block; height: 45px; text-indent: -9999px; transition: all 200ms ease-in-out 0s; width: 100px; background:url(../images/slide-nav.png) no-repeat left top;}
/* Caption styles */
.nivo-caption{position:absolute; left:10%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color:#fff; z-index:8; overflow: hidden; width:80%; top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%); -o-transform:translateY(-50%); -moz-transform:translateY(-50%); -ms-transform:translateY(-50%); padding:20px; text-align:center;}
.slide_info h2{color: #ffffff; font-family: "Playfair Display"; font-size: 58px; font-weight: bold; margin: 0 auto; max-width: 70%; text-align: center; text-shadow: 0 2px 2px #5b408c; text-transform: uppercase; line-height:40px;}
.slide_info p{ font-size:15px; color:#ffffff; margin-bottom:45px; margin-top:40px;}
.slide_info h2 a{color:#fff; }
.slide_info .slide_more{font:bold 14px/20px 'Lato', sans-serif; background-color:#ffffff; padding:12px 40px; color:#000; display:inline-block; border-radius:25px; -moz-border-radius:25px; -webkit-border-radius:25px; text-transform:uppercase;}
.slide_info .slide_more:hover{background-color:#228fec; color:#000000;}